# ================================================================
# SERVICE URLs (Internal Docker network)
# ================================================================
FLEETS_SERVICE_URL=http://fleets-service:8081
ROUTES_SERVICE_URL=http://routes-service:8082
AUTH_SERVICE_URL=http://auth-service:8083
PACKAGES_SERVICE_URL=http://packages-service:8084
GEOCODING_SERVICE_URL=http://geocoding-service:8085

# ================================================================
# OPENROUTESERVICE (ORS)
# ================================================================
ORS_URL=https://api.openrouteservice.org
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjNhMmMzMmRhN2Q5YzQ4NzE5Y2VkODNlZjMyNWI0ZWM1IiwiaCI6Im11cm11cjY0In0=

# ================================================================
# KEYCLOAK
# ================================================================
KEYCLOAK_URI=https://labsys.frc.utn.edu.ar/aim
KEYCLOAK_REALM=dds-materia
KEYCLOAK_JWKS_URI=${KEYCLOAK_URI}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=tpi-dds-client
KEYCLOAK_CLIENT_SECRET=tpi-dds-client
KEYCLOAK_ADMIN_USER=Dds-admin
KEYCLOAK_ADMIN_PASSWORD=dds12345

# ================================================================
# DATABASE
# ================================================================
DB_USERNAME=sa
DB_PASSWORD=

# ================================================================
# PROFILES
# ================================================================
SPRING_PROFILES_ACTIVE=docker